<div class="form-group">
    {% if e.tipo == 'radio' %}
        <code>{{ e.numero }}</code> <label for="D{{ e.numero }}" class="control-label">{{ e.testo }}</label>

        {% for scelta in e.scelte %}
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="D{{ e.numero }}" value="{{ scelta }}"> {{ scelta }}
                </label>
            </div>
        {% endfor %}

    {% else %}
    <code>{{ e.numero }}</code> <label for="D{{ e.numero }}" class="control-label">{{ e.testo }}</label>
    <input
            type="{{ e.tipo }}"
            name="D{{ e.numero }}"
            class="form-control {{ class }}"
            {% if e.required %}required{% endif %}
            {% if e.readonly %}readonly tabindex="-1"{% endif %}
            {% if e.tipo == 'number' %}min=0 value=0{% endif %}
    >
    {% if  e.help_text %}
        <p class="help-block">{{ e.help_text }}</p>
    {% endif %}
    {% endif %}
    <p class="help-block small">{{ help }}</p>
</div>
