{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <div class="row text-center">
            <div class="col-xs-6"><img src="{% static 'img/image1.gif' %}" alt="" height="100px" /></div>
            <div class="col-xs-6"><img src="{% static 'img/image2.jpg' %}" alt="" height="100px" /></div>
        </div>
    </div>

    <div class="jumbotron" style="height: 100%; background-color: transparent;">
        <div class="container">
            <h1 class="">Grazie</h1>
            <p><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> Il sondaggio è stato salvato.</p>
            <br>
            <div class="alert alert-warning" role="alert">
                <p>Se l'azienda possiede più di uno <b>stabilimento/unità locale</b>, La preghiamo di compilare un questionario per ogni stabilitmento/unità locale. </p>
                <p class="text-center"><a class="btn btn-primary btn-lg" href="{% url 'questionario' %}" role="button">Compila nuovo questionario</a></p>
            </div>

        </div>
    </div>
    <div class="text-center">
        <p><i>in collaborazione con</i></p>
        <img src="{% static 'img/image3.jpg' %}" alt="" height="50px"/>
    </div>
{% endblock %}